version: '3'

services:
  keycloak:
#    build:
#      context: ./docker-images/keycloak
#    image: jjeurissen/keycloak-dev:latest
    image: jboss/keycloak:5.0.0
    container_name: keycloak
    #restart: always
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: keycloak-relational-database
      DB_SCHEMA: public
      DB_DATABASE: ${KEYCLOAK_DB_DATABASE}
      DB_USER: ${KEYCLOAK_DB_USER}
      DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      JDBC_PARAMS: ${JDBC_PARAMS}
      KEYCLOAK_HOSTNAME: ${KEYCLOAK_HOSTNAME}
      KEYCLOAK_HTTP_PORT: ${KEYCLOAK_HTTP_PORT}
      EYCLOAK_HTTPS_PORT: ${KEYCLOAK_HTTPS_PORT}
      KEYCLOAK_USER: ${KEYCLOAK_USER}
      KEYCLOAK_PASSWORD: ${KEYCLOAK_PASSWORD}
      KEYCLOAK_DEFAULT_THEME: peacepact
      KEYCLOAK_WELCOME_THEME: peacepact
      #nginx-proxy
      VIRTUAL_HOST: ${KEYCLOAK_VIRTUAL_HOST}
      VIRTUAL_PORT: ${KEYCLOAK_VIRTUAL_PORT}
      VIRTUAL_PROTO: https
      PROXY_ADDRESS_FORWARDING: ${PROXY_ADDRESS_FORWARDING}
      LETSENCRYPT_HOST: ${KEYCLOAK_LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
    volumes:
    - ./docker-images/keycloak/theme/peacepact:/opt/jboss/keycloak/themes/peacepact
    - ./data/nginx/certs/sso.peacepact.org/key.pem:/etc/x509/https/tls.key:ro
    - ./data/nginx/certs/sso.peacepact.org/fullchain.pem:/etc/x509/https/tls.crt:ro
    depends_on:
    - keycloak-relational-database
    networks:
    - webproxy

  keycloak-relational-database:
    image: postgres:11.2
    container_name: keycloak_postgres
    #restart: always
    environment:
      POSTGRES_DB: ${KEYCLOAK_DB_DATABASE}
      POSTGRES_USER: ${KEYCLOAK_DB_USER}
      POSTGRES_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
    - keycloak-relational-database-data:/var/lib/postgresql/data
    networks:
    - webproxy

networks:
  webproxy:

volumes:
  keycloak-relational-database-data:
    driver: local
  wordpress-relational-database-data:
    driver: local
  iredmail-relational-database-data-mysql:
    driver: local
  iredmail-relational-database-data-vmail:
     driver: local
  iredmail-relational-database-data-clamav:
    driver: local